package ${package.ServiceImpl};

import ${package.Entity}.${entity};
import ${package.Mapper}.${table.mapperName};
import ${package.Service}.${table.serviceName};
import ${superServiceImplClassPackage};
import org.springframework.stereotype.Service;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import org.springframework.beans.factory.annotation.Autowired;

/**
 * <p>
 * $!{table.comment} 服务实现类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Service
#if(${kotlin})
open class ${table.serviceImplName} : ${superServiceImplClass}<${table.mapperName}, ${entity}>(), ${table.serviceName} {

        }
#else
        public class ${table.serviceImplName} extends ${superServiceImplClass}<${table.mapperName}, ${entity}> implements ${table.serviceName} {

        @Autowired
        private ${table.mapperName} mapper;


        @Override
        public Page<${entity}> selectPage(Long current, Long size){
        Page<${entity}> page = new Page<>();
        if (current != null && size != null) {
        page.setCurrent(current);
        page.setSize(size);
        }
        page.isSearchCount();
        Page<${entity}> page${entity} = page(page);
        return page${entity};
        }
        }
#end
